fastapi
uvicorn
aiosqlite
neonize==0.5.2
pydantic
python-multipart
starlette
itsdangerous
protobuf>=6.32.1,<8
# Optional but often used with FastAPI/Neonize
python-dotenv
aiohttp
passlib
bcrypt>=3.2,<4
